<div class="container-fluid" id="login-page">
    <div class="row justify-content-center" id="login-row">
        <div class="col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4 my-auto2">
            <div class="container-fluid" id="done-page">
                <% include ./partials/messages %>
                <a href="/users/logout" class="btn btn-secondary">Logout</a>
            </div>
        </div>
    </div>
</div>